/*=============================== RESET CSS ============================*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/*================================ BASIC ===============================*/
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.8rem;
  font-weight: 500;
  color: #303B40;
}
main {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #303B40;
}

.wrapper {
  max-width: 1920px;
  background-color: #fff;
  background-image: url(src/img/bg_2-min.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
  overflow: visible;
}

/*================================ HEADER ==============================*/
.header {
  width: 100%;
  height: 160px;
}

.header__top {
  display: flex;
  height: 100px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #5477BB;
}

.header__logo {
  height: 60px;
}
.header__contacts {
  display: inherit;
  align-items: center;
  justify-content: flex-end;
}

.contacts__item {
  display: inherit;
  padding: 5px;
  margin-right: 22px;
}

.contacts__item:hover {
  color: #F69A1B;
}

.contacts__item > span {
  display: inherit;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.contacts__item svg {
  fill: #303B40;
}

.social {
  display: flex;  
}

.social a {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  border: 1px solid #E8E8E8;
}

.social a:hover {
  border-color: #d1d1d1;
}

.button {
  height: 60px;
  padding: 16px 36px;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  background: #F6F8F9;
  color: #8C969A;
  border: 1px solid #E8E8E8;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #4063A7;
  color: #fff;
}

.button:active {
  background-color: #5477BB;
}

.blue {
  background-color: #5477BB;
  color: #fff;
  border: none;
}

.menu {
  margin: 20px 0;
}

.menu__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  display: block;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.menu__link:hover {
  color: #F69A1B;
}

/*=========================== MAIN =========================*/

/*======================= MAIN SCREEN ======================*/
.main-screen {
  margin-top: 73px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-screen__image {
  margin-right: 30px;
}

.main-screen__text {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.list {
  list-style-type: none;
}

.list__item {
  line-height: 1.5rem;
  margin: 0.6rem 0 0.6rem 17px;
}

.main-screen__text .list__item {
  line-height: 2.5rem;
}

.list__mark {
  display: inline-block;
  margin-left: -17px;
  margin-right: 10px;
  height: 7px;
  width: 7px;
  border: 2px solid #F69A1B;
  border-radius: 50%;
}

.main-screen__form {
  display: inherit;
  margin-top: 29px;
  flex: 100%;
  background-color: #F69A1B;
  align-items: center;
  justify-content: space-between;
  padding: 35px 98px;
}

.main-screen__form > p {
  color: #fff;
  font-weight: 800;
  line-height: 1.9rem;
  text-transform: uppercase;
  width: 409px;
}

.contact-form__input {
  font-family: inherit;
  width: 264px;
  height: 60px;
  padding: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
  border: none;
  margin-right: 30px;
}

/*================================ ABOUT ===============================*/

.about__contant {
  margin: 0 98px;
  padding: 100px 99px 0;
  border-left: 1px solid #E8E8E8;
}

.article-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-subtitle {
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 800;
  line-height: 1.9rem;
  color: #5477BB;
}
.about__text {
  margin-top: 36px;
  padding-bottom: 70px;
}

._gray {
  padding: 39px 99px;
  font-weight: 600;
  line-height: 2rem;
  background-color: #F6F8F9;
}

/*===================================== EXPERTS ========================*/

.experts {
  border-top: 1px solid #E8E8E8;
  padding-top: 100px;
}

.article__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-block {
  font-size: 0;
}

.button-block .button {
  width: 60px;
  padding: 0;
  margin: 0;
}

.content-list {
  margin-top: 45px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-list__item {
  display: block;
  max-width: 264px;
  max-height: 385px;
}

.content-list__item:not(:last-child) {
  margin-right: 30px;
}

.expert-img {
  width: 100%;
  height: 286px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expert-1 {
  background-image: url(src/img/expert-foto1.jpg);
}

.expert-2 {
  background-image: url(src/img/expert-foto2.jpg);
}

.expert-3 {
  background-image: url(src/img/expert-foto3.jpg);
}

.expert-4 {
  background-image: url(src/img/expert-foto4.jpg);
}

.expert-name {
  margin-top: 18px;
  padding: 0 20px;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

.expert-position {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1rem;
  text-align: center;
  color: #8C969A;
}

/*============================= EXPERIENCE ==============================*/

.experience {
  border-top: 1px solid #E8E8E8;
  padding-top: 100px;
}

.experience__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience__header .header__left {
  width: 60%;
}

.experience-text {
  margin-top: 50px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
}

.list__block {
  width: 40%;
  padding: 40px;
  background-color: #F6F8F9;
  border: 1px solid #E8E8E8;
}

.list__header {
  text-transform: uppercase;
  color:#F69A1B;
  font-weight: 800;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
}

.experience > h3 {
  padding-top: 34px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.75rem;
}

.experience-img__container {
  margin-top: 114px;
  height: 560px;
  position: relative;
}

.experience-img {
  position: absolute;
  right: 100px;
  bottom: 0;
  width: 1354px;
  height: 100%;
  background-color: #d1d1d1;
  background-image: url(src/img/expirience.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.info-block {
  position: absolute;
  top: 100px;
  right: -100px;
  width: 40%;
  padding: 74px 67px;
  background-color: #F69A1B;
}

.info-block__header {
  color:#fff;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 3.8rem;
}

.info-block__text {
  margin-top: 24px;
  color:#fff;
  font-weight: 600;
  line-height: 2rem;
}

/*=========================== SERVICES  ================================*/

.services {
  padding-top: 100px;
}

.services__list {
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
}

._services-header {
  color: #303B40;
}

._services-header span {
  vertical-align: middle;
  margin-right: 10px;
}

._services {
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 48%;
}

._services:nth-child(odd) {
  margin-right: 30px;
}

._services ul {
  padding-left: 55px;
}

/*=========================== OUTSORCING ===============================*/

.outsourcing {
  padding: 100px 0;
  display: flex;
  border-bottom: 1px solid #E8E8E8;
}

.outsourcing__text {
  width: 70%;
  padding-right: 30px;
}

.outsourcing .info-block {
  position: initial;
  width: 30%;
}

/*=========================== WHO ===============================*/

.who {
  margin-top: 75px;
  height: 960px;
}

.who__contant {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  counter-reset: who-section;
}

.who__container {
  width: 50%;
  margin-bottom: 50px;
}

.who__container:not(:first-child) {
  border-left: 2px solid #5477BB;
  padding: 0 25px 0 41px;
}

.who__title {
  font-weight: 800;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.who__title::before {
  color: #F69A1B;
  counter-increment: who-section;
  content: '0' counter(who-section)'. ';
}

.who__img {
  height: 40%;
  width: 100%;
  position: relative;
}

.who__img > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1760px;
  height: 100%;
  background-color: #d1d1d1;
  background-image: url(src/img/who.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

/*=============================== PREFERENCES ===========================*/


.preferences {
  margin-top: 100px;
  height: 510px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preferences__container {
  width: 50%;
  margin-bottom: 30px;
}

.preferences__title {
  font-weight: 800;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.preferences__title > span {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-color: rgba(246, 154, 27, 0.15);
  margin-right: 18px;
  position: relative;
}

.preferences__title svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preferences__text {
  color: #8C969A;
  padding: 0 10px 0 68px;
}

/*============================= GROWTH =================================*/

.growth {
  margin-top: 70px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.growth__container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 60px 100px;
  background-color: #F6F8F9;
}

.growth__container .article-subtitle {
  margin: 0 0 13px;
}

.growth__container > h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

/*=============================== START ================================*/

.start {
  margin-top: 100px;
}

.start__container {
  display: flex;
  margin: 50px 0;
}

.start__step:not(:last-child) {
  padding-right: 30px;
}

.step__title {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #5477BB;
}

.step__subtitle {
  margin-top: 23px;
  color: #F69A1B;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.9rem;
  text-transform: uppercase;
}

/*================================= FORM ================================*/

.form {
  margin: 65px 0;
  background-color: #F69A1B;
  padding: 46px 98px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form__title {
  width: 100%;
  margin-bottom: 17px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.form__text {
  width: 70%;
}

/*============================ POSTS ================================*/

.posts {
  padding-bottom: 100px;
  border-bottom: 1px solid #E8E8E8;
}

.posts__container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.posts__card {
  width: 33.33%;
}

.posts__card:not(:last-child) {
  padding-right: 30px;
}

.posts__img {
  position: relative;
  height: 230px;
}

.posts__img img {
  width: 100%;
  height: 100%;
}

.datestamp {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: #5477BB;
  padding: 6px 17px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.posts__text {
  margin-top: 14px;
}

/*================================== TRUST ============================*/

.trust {
  margin-top: 93px;
  padding-bottom: 100px;
  border-bottom: 1px solid #E8E8E8;
}

.trust__container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trust__card {
  width: 166px;
  height: 90px;
  border: 1px solid #E8E8E8;
  background-color: #fff;
}

/*================================ CONTACTS ===========================*/

.contacts {
  margin-top: 100px;
}

.contacts__content {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 50%;
}

.content__left > div {
  margin-bottom: 30px;
}

.phone {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.8rem;
}

.phone span:first-child,
.adress span:first-child {
  display: inline-block;
  width: 20%;
  font-size: 0.9rem;
  font-weight: 400;
}

.adress {
  font-size: 1.1rem;
  font-weight: 400;
}

.map {
  height: 190px;
  background-color: #c4c6c7;
}

.subscribe__label {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.subscribe__input {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background-color: #F6F8F9;
  border: 1px solid #E8E8E8;
  color: #8C969A;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1rem;
  overflow: hidden;
}

.subscribe__input input {
  width: 60%;
  height: 100%;
  padding: 10px;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1rem;
  transition: all 1s ease-out;
}

.subscribe__button {
  height: 100%;
  padding: 20px;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.1rem;
  color: #c2c1c1;
  border: none;
  background-color: transparent;
  transition: all 500ms ease-out;
  transform: translateX(65%);
}

.subscribe__button:hover {
  color: #5477BB;
}

.subscribe__button:active {
  color: #4063A7;
}

.subscribe__input:hover .subscribe__button,
.subscribe__input > input:focus + .subscribe__button {
  transform: translateX(0);
}

.subscribe__button::before {
  content: url(src/svg/paper-plane\ 1.svg);
  margin-right: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transition: all 500ms ease-out;
}

.subscribe__input:hover .subscribe__button::before,
.subscribe__input > input:focus + .subscribe__button::before {
  margin-right: 10px;
}

.subscribe__button::after {
  content: 'Подписаться';

  transition: opacity 500ms ease-out 500ms;
  opacity: 0;
}

.subscribe__input:hover .subscribe__button::after,
.subscribe__input > input:focus + .subscribe__button::after {
  opacity: 1;
}

.content__right {
  width: 40%;
}

.message-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 30px 60px;
  background-color: #F69A1B;
  color: #fff;
}

.message-form label {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.message-form__name,
.message-form__email,
.message-form__messsage {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  width: 264px;
  background-color: #fff;
  border: none;
  font-family: inherit;
  /* color: #8C969A; */
}

.message-form__messsage {
  resize: none;
  height: 120px;
}

.message-form__text {
  margin-top: 16px;
  width: 264px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1rem;
}

.message-form input[type='submit'] {
  margin: 23px 0;
}

/*============================= FOOTER ==================================*/

footer {
  background-color: #303B40;
}

footer p {
  width: 100%;
  padding: 16px;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
}

/*============================ ADAPTIVE =================================*/

@media only screen and (max-width: 1200px) {
  
  .main-screen__form {
    padding: 35px 70px;
  }

  .main-screen__form > p {
    /* font-weight: 600;
    line-height: 1.5rem; */
    width: 42%;
  }

  .contact-form__input {
    width: 264px;
    height: 60px;
    padding: 20px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.1rem;
    margin-right: 20px;
  }
}